/* set universal font */
* {
  font-family: 'Manrope';
}

/* make the nav bar sticking to the top while scrolling through the webpage */
.navbar {
  position: sticky;
  top: 0;
}


/* set the banner image */
.banner-img {
  width: 1200px;
  height: 500px;
  object-fit: cover;
}

/* set the properties of the banner title */
.lead {
  font-weight: 800;
  font-size: 80px;
  color: #1C1C1C;
  margin-top: 40px;
}

ul>li>a:hover {
  color: blue !important;
}

ul>li>a:active {
  color: green !important;
}

.card {
  background: linear-gradient(180deg, #F4F4F4 0%, rgba(244, 244, 244, 0) 100%);
  border-radius: 10px;
}

/* set the height of the card */
.card {
  height: 430px !important;
  width: 267px !important;
}

/* re-size the images inside the card */
.img-product {
  width: 135px;
  height: 213px;
  margin-top: 10px;
}

/* set the proper font size for the name of various tea */
.card-title {
  font-weight: 800;
  font-size: 25px;
}

.featured-products-subtitle {
  font-weight: 500;
  font-size: 16px;
  color: #777777;
  padding: 0 400px 0 400px;
}

.best-tea-upper-design {
  width: 238px;
  height: 136px;
  background: linear-gradient(270deg, #FF0000 0%, #FF8938 100%);
  opacity: 0.1;
  border-radius: 10px;
  margin-bottom: 30px;
}

.tea-of-month-1 {
  width: 238px;
  height: 355.28px;
  background: rgba(87, 118, 57, 0.1);
  border-radius: 10px;
  padding: 30px;
}

.tea-of-month-2 {
  width: 238px;
  height: 355.28px;
  background: rgba(230, 166, 35, 0.1);
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 30px;
}

.best-tea-lower-design {
  width: 238px;
  height: 136px;
  background: linear-gradient(90deg, #D9D9D9 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 10px;
}

.tea-of-the-month-container {
  padding: 0 80px 0 80px !important;
}

.special-tea {
  margin: 0 200px 0 0;
  font-weight: 800;
  font-size: 45px;
  color: #1C1C1C;
}

.special-tea-description {
  font-weight: 500;
  font-size: 16px;
  color: #777777;
}

.unique-taste {
  font-weight: 800;
  font-size: 20px;
  color: #1C1C1C;
}

.unique-taste-description {

  font-weight: 500;
  font-size: 16px;
  color: #777777;
}

.premium-quality {

  font-weight: 800;
  font-size: 20px;
  color: #1C1C1C;
}

.premium-quality-description {
  font-weight: 500;
  font-size: 16px;
  color: #777777;
}

.health-benefits {
  font-weight: 800;
  font-size: 20px;
  color: #1C1C1C;
}

.health-benefit-description {
  font-weight: 500;
  font-size: 16px;
  color: #777777;
}

/* set the properties to feature the super client */
.super-client {
  width: 1140px;
  height: 650px;
  border-radius: 10px;
  border: 2px solid black;
  background: linear-gradient(270deg, #FF0000 0%, #FF8938 100%);
}

/* set properties for the row */
.row {
  margin-left: 40px;
}

.super-client-description {
  margin: 150px 0 0 0;
}

.super-client-title {
  font-weight: 800;
  font-size: 55px;
  color: #F4F4F4;
  margin: 0 100px 20px 0;
}

.super-client-sub-title {
  font-weight: 500;
  font-size: 16px;
  color: #F4F4F4;
}

.review-cards {
  position: relative;
  margin: 100px 0 0 0;
}

.img-client {
  width: 60px;
  height: 60px;
  margin: 0 0 10px 170px;
}

.img-client2 {
  width: 60px;
  height: 60px;
  margin: 0 0 10px 170px;
  border-radius: 50%;

}

.super-client-card-1 {
  width: 400px !important;
  height: 200px !important;
  background: #FFFFFF;
  border-radius: 8px;
  background: linear-gradient(270deg, #FF0000 0%, #FF8938 100%);
  background-clip: content-box;

}

.super-client-card-2 {
  width: 400px !important;
  height: 200px !important;
  background: #FFFFFF;
  border-radius: 8px;
  background: linear-gradient(270deg, #FF0000 0%, #FF8938 100%);
  background-clip: content-box;

}

.super-client-card-3 {
  position: absolute;
  left: 90px;
  top: 170px;
  width: 400px !important;
  height: 200px !important;
  background: #FFFFFF;
  border-radius: 8px;
}